td {
  height: 102px;
  width: 98px;
  border: 1px solid #fff;
  position: relative;
}

td div {
  background: red;
  position: absolute;
  height: 102px;
  width: 98px;
  top: 0;
  left: 0;
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}